services:
  api:
    build: .
    container_name: api_estudiantes
    ports:
      - "8080:8080"
    volumes:
      - sqlite_data:/data
    environment:
      DB_PATH: /data/estudiantes.db
      JWT_SECRET: api-estudiantes-secret-key-production-2024
    restart: always

volumes:
  sqlite_data:
